@use './partials/variables' as *;
@use './partials/header';

@import '~bootstrap/scss/bootstrap';

body {
    font-family: 'nunito';
}

.container {
    max-width: 1000px;
    margin: auto;
    --bs-gutter-x: 0rem;
}

.card-img {
    width: 100%;
    height: 200px;
    img {
        width: 100%;
        height: 100%;
    }
}